repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.3.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
    - repo: https://github.com/psf/black
      rev: 20.8b1
      hooks:
          - id: black
            args: [-S, "-l 120"]
