repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v3.4.0
      hooks:
          - id: check-ast
          - id: check-builtin-literals
          - id: check-docstring-first
          - id: check-merge-conflict
          - id: check-yaml
          - id: end-of-file-fixer
          - id: trailing-whitespace
    - repo: https://github.com/asottile/reorder_python_imports
      rev: v2.4.0
      hooks:
          - id: reorder-python-imports
            args: [--application-directories, ".:src"]
    - repo: https://github.com/psf/black
      rev: 20.8b1
      hooks:
          - id: black
            args: [-S, -l 120]
    - repo: https://github.com/asottile/add-trailing-comma
      rev: v2.1.0
      hooks:
          - id: add-trailing-comma
            args: [--py36-plus]
    - repo: https://gitlab.com/pycqa/flake8
      rev: 3.8.4
      hooks:
          - id: flake8
            additional_dependencies:
                - flake8-blind-except==0.1.1
                - flake8-bugbear==20.1.4
                - flake8-builtins==1.5.3
                - flake8-comprehensions==3.3.0
                - flake8-eradicate==1.0.0
                - flake8-pytest-style==1.3.0
                - flake8-rst-docstrings==0.0.14
                - flake8-unused-arguments==0.0.6
    - repo: https://github.com/PyCQA/pydocstyle
      rev: 5.1.1
      hooks:
          - id: pydocstyle
            args: [--convention=numpy, "--add-ignore=D104,D105"]
            exclude: tests|examples|conf.py
