[tool.poetry]

name = "scikit-spatial"
version = "6.4.1"
description = "Spatial objects and computations based on NumPy arrays."
license = "BSD-3-Clause"

authors = ["Andrew Hynes <andrewjhynes@gmail.com>"]

readme = "README.rst"

repository = "https://github.com/ajhynes7/scikit-spatial"
documentation = "https://scikit-spatial.readthedocs.io"

keywords = ["NumPy", "matplotlib", "visualization", "spatial", "linear algebra"]

classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: BSD License",
    "Natural Language :: English",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Topic :: Scientific/Engineering",
]

packages = [{ include = "skspatial", from = "src" }]
include = ["tests"]


[tool.poetry.dependencies]
python = "^3.7"

numpy = "^1.20"
matplotlib = "^3"

# To keep __version__ in sync with the version in this file.
importlib-metadata = { version = "~1", python = "<3.8" }

# Pre-commit
pre-commit = { version = "2.11.1", optional = true }

# Testing
pytest = { version = "7.1.1", optional = true }
pytest-cov = { version = "2.11.1", optional = true }
hypothesis = { version = "6.8.1", optional = true }

# Docs
Sphinx = { version = "4.2.0", optional = true }
numpydoc = { version = "1.1.0", optional = true }
sphinx-bootstrap-theme = { version = "0.8.0", optional = true }
sphinx-gallery = { version = "0.9.0", optional = true }


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.poetry.extras]
pre_commit = ["pre-commit"]
base_test = ["pytest", "pytest-cov"]
property = ["hypothesis"]
docs = ["Sphinx", "numpydoc", "sphinx-bootstrap-theme", "sphinx-gallery"]
