[tool.poetry]

name = "scikit-spatial"
version = "6.8.0"
description = "Spatial objects and computations based on NumPy arrays."
license = "BSD-3-Clause"

authors = ["Andrew Hynes <andrewjhynes@gmail.com>"]

readme = "README.rst"

repository = "https://github.com/ajhynes7/scikit-spatial"
documentation = "https://scikit-spatial.readthedocs.io"

keywords = ["NumPy", "matplotlib", "visualization", "spatial", "linear algebra"]

classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: BSD License",
    "Natural Language :: English",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Topic :: Scientific/Engineering",
]

packages = [{ include = "skspatial", from = "src" }]
include = ["tests"]


[tool.poetry.dependencies]
python = "^3.7"

numpy = "^1.16"
matplotlib = "^3"

# To keep __version__ in sync with the version in this file.
importlib-metadata = { version = "~1", python = "<3.8" }


[tool.poetry.group.base_test.dependencies]
pytest = "^7.1.3"
pytest-cov = "^4.0.0"

[tool.poetry.group.property_test.dependencies]
hypothesis = "^6.56.2"

[tool.poetry.group.base_test]
optional = true

[tool.poetry.group.property_test]
optional = true

[tool.pytest.ini_options]
pythonpath = ["src"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.black]
line-length = 120
skip-string-normalization = true

[tool.pydocstyle]
convention = 'numpy'
add-ignore = 'D104, D105'
