alabaster==0.7.12
atomicwrites==1.4.0
attrs==19.3.0
Babel==2.8.0
certifi==2019.11.28
chardet==3.0.4
coverage==5.1
cycler==0.10.0
docutils==0.15.2
idna==2.9
imagesize==1.1.0
Jinja2==2.11.2
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.2.1
more-itertools==7.2.0
numpy==1.18.5
numpydoc==0.9.1
packaging==20.4
Pillow==7.0.0
pluggy==0.13.1
py==1.8.1
Pygments==2.6.1
pyparsing==2.4.7
pytest==5.4.3
pytest-cov==2.8.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.24.0
six==1.14.0
snowballstemmer==2.0.0
Sphinx==3.2.0
sphinx-bootstrap-theme==0.7.1
sphinx-gallery==0.7.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
urllib3==1.25.7
