name: scikit-spatial

on: push

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: [3.7, 3.8, 3.9]

        steps:
            - uses: actions/checkout@v2

            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v2
              with:
                  python-version: ${{ matrix.python-version }}

            - name: Install Poetry
              uses: snok/install-poetry@v1.1.2

            - name: Install tox
              run: pip install tox==3.23.0

            - name: Run tox
              run: tox

            - name: Upload coverage report to codecov
              uses: codecov/codecov-action@v1.2.1
              with:
                  fail_ci_if_error: true
                  verbose: true
                  gcov_prefix: ${{ env.GITHUB_WORKSPACE }}

            - name: Build and publish to PyPI
              if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
              uses: JRubics/poetry-publish@v1
              with:
                  pypi_token: ${{ secrets.PYPI_API_TOKEN }}
